
.icon-home:before { content: '\e800'; } /* '' */
.icon-folder-open:before { content: '\e801'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */