.navigation {
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);

	&__link {
		display: block;
		height: 55px;
		line-height: 55px;
		padding: 0 30px;
		font-size: 20px;
		text-decoration: none;
		color: #7e8595;
		background-color: rgba(0,0,0,0);
		transition: all 250ms ease-in;
		&:before {
			position: relative;
			top: 1px;
			margin: 0 11px 0 0;
			transition: all 250ms ease-in;
		}
		&_selected, &:hover {
			background-color: #2f3e45;
			color: #fff;
			
			&:before {
				color: #f98700;
			}
		}
	}
}